boto
dj-database-url
django-bcrypt
django-secure
django-storages
ndg-httpsclient  # required by requests
# https://github.com/getsentry/sentry/blob/9.0.0/requirements-base.txt#L36
# and https://github.com/psycopg/psycopg2-wheels/issues/2
psycopg2>=2.7.3.2,<2.8.0
dj-database-url
redis-py-cluster==1.3.4
# 2.4.2 is needed to resolve "conflicting types for ‘BIO_callback_ctrl’" with herokuish-18
# see https://github.com/apache/incubator-superset/issues/4870#issuecomment-444189653
cryptography==2.4.2
uwsgi==2.0.17.1
sentry==9.0.0
-e git://github.com/getsentry/sentry-auth-google.git@578432dfeb7b16a681b4aeddbefd3cd2dbf5759f#egg=sentry-auth-google
sentry-github
